.opcoes{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center


}
.sobre{
 
  
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center

}
.espaçamento{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center

}